@model List<Trabalho_Pratico.Models.Arrendamento>

@{
    ViewData["Title"] = "Ver Arrendamentos";
}

<h2>Arrendamentos do Locador</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome do Cliente</th>
            <th scope="col">Nome do Locador</th>
            <th scope="col">Descrição da Habitação</th>
            <th scope="col">Data de Entrada</th>
            <th scope="col">Data de Saída</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arrendamento in Model)
        {
            <tr>
                <td>@arrendamento.Cliente.PrimeiroNome</td>
                <td>@arrendamento.Habitacao.Locador.Nome</td>
                <td>@arrendamento.Habitacao.Descricao</td>
                <td>@arrendamento.DataEntrada.ToShortDateString()</td>
                <td>@arrendamento.DataSaida.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>