@model Trabalho_Pratico.Models.Habitacao

@{
    ViewData["Title"] = "Apagar Habitação";
}

<h1>Apagar</h1>

<h3>Tem a certeza que pretende apagar esta habitação?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto == null)
            {
                <img id="MyFoto" class="img-thumbnail" src="~/img/user.png" style="height:75px;width:auto" />
            }
            else
            {
                <img id="MyFoto" class="img-thumbnail" style="height:75px;width:auto"
                     src="data:image/*;base64,@(Convert.ToBase64String(Model.Foto))" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoConstrucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoConstrucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
        <dd class="col-sm-10">
                @if (Model.Disponivel)
                {
                <span class="text-success fw-bold">Ativo</span>
                }
                else
                {
                <span class="text-danger fw-bold">Inativo</span>
                }
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPorNoite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPorNoite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locador.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
