@model Trabalho_Pratico.Models.ViewModels.PesquisaPortfolioHabitacoesViewModel

@{
    ViewData["Title"] = "Lista de Habitações";
}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">@ViewData["Title"]</h1>
</div>
<hr />

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar Habitação</a>
</p>

<form method="post">
    <input type="hidden" asp-for="@Model.Disponivel" />
    <input type="hidden" asp-for="@Model.CategoriaId" />
    <label asp-for="TextoAPesquisar" class="control-label"></label>
    <input asp-for="TextoAPesquisar" />
    <button id="botaoPesquisa" type="submit" class="btn btn-default">
        <svg bootstrap-icon="Search" class="text-warning" width="24" height="24" aria-label="Search"></svg>
    </button>
    <label for="ordem">Ordenação:</label>
    <select name="Ordem" asp-for="Ordem" onchange="this.form.submit()">
        <option value="desc">Habitação Descendente</option>
        <option value="asc">Habitação Ascendente</option>
    </select>
</form>

@if (@ViewBag.error != null)
{
    <p class="text-danger">@ViewBag.error</p>
}
<div class="row">
    <div class="col-md-2">
        <h5>Disponibilidade:</h5>
        <form method="post">
            <input type="hidden" asp-for="@Model.TextoAPesquisar" />
            <input type="hidden" asp-for="@Model.CategoriaId" />
            <input type="hidden" asp-for="@Model.Ordem" />
            <input type="radio" id="disponivelTalvez" name="Disponivel" value="disponivelTalvez" onchange="this.form.submit()"
            @(Model.Disponivel == null ? "checked" : Model.Disponivel.Equals("disponivelTalvez") ? "checked" : "") />
            <label for="disponivelTalvez">Todos</label><br>
            <input type="radio" id="disponivelSim" name="Disponivel" value="disponivelSim" onchange="this.form.submit()"
            @(Model.Disponivel != null ? Model.Disponivel.Equals("disponivelSim") ? "checked" : "" : "") />
            <label for="disponivelSim">Disponiveis</label><br>
            <input type="radio" id="disponivelNao" name="Disponivel" value="disponivelNao" onchange="this.form.submit()"
            @(Model.Disponivel != null ? Model.Disponivel.Equals("disponivelNao") ? "checked" : "" : "") />
            <label for="disponivelNao">Não Disponiveis</label><br />
        </form>
        <p></p>
        <h5>Categoria:</h5>
        <form method="post">
            <input type="hidden" asp-for="@Model.TextoAPesquisar" />
            <input type="hidden" asp-for="@Model.Disponivel" />
            <input type="hidden" asp-for="@Model.Ordem" />
            <input type="radio" id="Categoria0" name="Categoria" value="0" onchange="this.form.submit()"
            @(Model.CategoriaId == 0 ? "checked" : "") />
            <label for="Categoria0">Todas</label> <br>
            @foreach (CategoriaHabitacao categoria in ViewBag.CategoriaId)
            {
                <input type="radio" id="Categoria@(categoria.Id)" name="Categoria" value="@categoria.Id" onchange="this.form.submit()"
                @(Model.CategoriaId == categoria.Id ? "checked" : "") />
                <label for="Categoria@(categoria.Id)">@categoria.Nome</label> <br>
            }
        </form>
    </div>
    <div class="col-md-10">
        <table class="table table-bordered table-striped table-hover text-center table-responsive-sm">
            <thead>
                <tr>
                    <th>
                        Foto
                    </th>
                    <th>
                        Habitação
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaDeHabitacoes.FirstOrDefault().AnoConstrucao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaDeHabitacoes.FirstOrDefault().PrecoPorNoite)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaDeHabitacoes.FirstOrDefault().Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaDeHabitacoes.FirstOrDefault().Disponivel)
                    </th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaDeHabitacoes)
                {
                    <tr>
                        <td>
                            @if (item.Foto == null)
                            {
                                <img id="MyFoto" class="img-thumbnail" src="~/img/user.png" style="height:75px;width:auto" />
                            }
                            else
                            {
                                <img id="MyFoto" class="img-thumbnail" style="height:75px;width:auto"
                                     src="data:image/*;base64,@(Convert.ToBase64String(item.Foto))" />
                            }
                        </td>
                        <td>
                            @if (string.IsNullOrWhiteSpace(Model.TextoAPesquisar))
                            {
                                @Html.DisplayFor(modelItem => item.Tipo)
                                <span> </span>
                                @Html.DisplayFor(modelItem => item.AreaTotal)
                                <span>(@Html.DisplayFor(modelItem => item.Morada))</span>
                            }
                            else
                            {
                                @Html.Raw(item.Tipo.ToString().ToLower().Replace(Model.TextoAPesquisar.ToLower(),
                        "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                                <span> </span>
                                @Html.Raw(item.AreaTotal.ToString().ToLower().Replace(Model.TextoAPesquisar.ToLower(),
                        "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                                <span>
                                    (@Html.Raw(item.Morada.ToString().ToLower().Replace(Model.TextoAPesquisar.ToLower(),
                            "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>")))
                                </span>
                            }
                        </td>
                        <td>
                            @if (string.IsNullOrWhiteSpace(Model.TextoAPesquisar))
                            {
                                @Html.DisplayFor(modelItem => item.AnoConstrucao)
                            }
                            else
                            {
                                @Html.Raw(item.AnoConstrucao.ToString().ToLower().Replace(Model.TextoAPesquisar.ToLower(),
                        "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoPorNoite)€
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Nome)
                        </td>
                        <td>
                            @if (item.Disponivel)
                            {
                                <p class="text-success fw-bold">Ativo</p>
                            }
                            else
                            {
                                <p class="text-danger fw-bold">Inativo</p>
                            }
                        </td>
                        <td>
                            @if (item.Disponivel)
                            {
                                <a asp-action="Desativar" asp-route-id="@item.Id" class="btn btn-outline-danger">Desativar Registo</a>
                            }
                            else
                            {
                                <a asp-action="Ativar" asp-route-id="@item.Id" class="btn btn-outline-success">Ativar Registo</a>
                            }
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
